@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutAccount";
     ViewData["Title"] = "找回密码";
}

 <dd class="user_icon">
  <input type="text" placeholder="邮箱" class="login_txtbx login_email"/>
 </dd>
 <dd class="user_icon">
  <input type="text" placeholder="帐号" class="login_txtbx login_account"/>
 </dd>
 <dd class="val_icon">
  <div class="checkcode">
    <input type="text" id="J_codetext" placeholder="验证码" maxlength="4" class="login_code login_txtbx">
    <!--<canvas class="J_codeimg" id="myCanvas" onclick="createCode()">对不起，您的浏览器不支持canvas，请下载最新版浏览器!</canvas>-->
    <img src="/account/validatecode" id="txtCode" onclick="this.src='/account/validatecode?id='+Math.random()" style="width:85px;height:42px;" />
    </div>
  <input type="button" value="验证码核验" class="ver_btn" onClick="$('#txtCode').attr('src','/account/validatecode?id='+Math.random())">
 </dd>
   <dd style="height:auto;">
    <div style="float:left;"><a href="/account/register">注册</a></div>

    <div style="float:right;"><a href="/account/login">登录</a></div>

    <div style="clear:both;"></div>
 </dd>
 <dd>
  <input type="button" value="找回密码" class="submit_btn"/>
 </dd>

 @section Scripts{
    <script type="text/javascript">
        $(".submit_btn").click(function(){
            var email = $(".login_email").val();
            if(!email){
                alertError("请输入注册时填写的邮箱！");
                $(".login_email").focus();
                return;
            }

            if(!CheckMail(email)){
                alertError("邮箱格式不正确！");
                $(".login_email").focus();
                return;
            }
    
            var account = $(".login_account").val();
            if(!account){
                alertError("请输入登录帐号！");
                $(".login_account").focus();
                return;
            }

            var vcode = $(".login_code").val();
            if(!vcode){
                alertError("请输入验证码！");
                $(".login_code").focus();
                return;
            }

            var pams = {
                email:email,
                account:account,
                vcode:vcode
            }

            loading("邮箱校验中...");

            $.post("/Account/UserFindPasswordAsync",pams,function(data){
                layer.closeAll();
                if(data.code == 0){
                    alertSuccess("重置成功,请登录邮箱查收邮件");
                }else{
                    alertError(data.msg);
                }
            },"json");        
        });
    </script>
}